#content {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;
	width: 1100px;
}

#clouds {
	//background-image: url('../images/bg-clouds-top-repeating.png');
	//background-repeat: repeat-x;
	padding-top: 30px;
}

#clouds .container {
	background-color: #ffffff;
	padding-bottom: 30px;
}

#clouds .container .wrapper {
	margin: 0 auto;
	width: 1100px;
}

div.col-3-1 {
	float: left;
	width: 200px;
}

div.col-3-2 {
	float: left;
	width: 200px;
}

div.col-3-3 {
	float: left;
	width: 200px;
}

div.buttons {
	margin-top: 20px;
	text-align: center;
}

div.area {
	width: 100%;
	background-color: #e3eff7;
	padding: 10px;
}

a.learn {
	height: 10px;
	padding: 10px;
	margin-right: 10px;
	color: #b2c0cA;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #327fa6;
	font-size: 15px;
}

a.learn:hover {
	background: #2b789e;
	color: #ffffff;
}

a.contact {
	height: 10px;
	padding: 10px;
	color: #b2c0cA;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #68ab17;
	font-size: 15px;
}

a.contact:hover {
	background: #7bcb1b;
	color: #ffffff;
}

a.button {
	text-align: center;
	display: block;
	width: 120px;
	margin: 10px 0 0 0;
	padding: 7px 5px 7px 5px;
	font-size: 13px;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #51626b;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
}

a.button:hover {
	background: #628598;
	color: #ffffff;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);	
}

div.column-3-1 {
	float: left;
	width: 306px;
	padding: 10px;
	margin: 30px 0px 0px 0px;
}

div.column-3-2 {
	float: left;
	width: 306px;
	padding: 10px;
	margin: 30px 0px 0px 0px;
}

div.column-3-3 {
	float: left;
	width: 306px;
	padding: 10px;
	margin: 30px 0px 0px 0px;
}

img.icon {
	float: left;
	margin-right: 15px;
	padding-top: 5px;
}

img.icon-right {
	float: right;
	margin-left: 10px;
	padding-top: 5px;
}

img.language {
	height: 40px;
	vertical-align: middle;
	margin-right: 12px;
	margin-left: 5px;
}

img.photo {
	display: block;
	float: left;
	padding: 10px;
	border: 2px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

img.photo:hover {
	border: 4px solid #0079e1;
}

div.showcase {
	float: left;
	margin-right: 6px;
}

div.showcase img {
	border: 5px solid #e3eff7;
}

div.terminal {
	background-color: rgb(235, 234, 239);
	border-radius: 4px;
	color: rgb(76, 76, 76);
	display: block;
	font-family: Cuprum;
	height: 278px;
	line-height: 22px;
	padding-top: 20px;
	width: 500px;
}

div.terminal div.indicators {
	color: rgb(76, 76, 76);
	display: block;
	font-family: Cuprum;
	height: 0px;
	line-height: 22.390625px;
	margin-bottom: 0px;
	margin-left: 9px;
	margin-right: 0px;
	margin-top: -11px;
	width: 490px;
}

div.terminal div.indicators span.circle {
	background-color: rgb(216, 214, 223);
	border-radius: 50%;
	color: rgb(76, 76, 76);
	display: block;
	float: left;
	font-family: Cuprum;
	height: 9px;
	line-height: 22.390625px;
	margin-right: 5px;
	width: 9px;
}

div.terminal div.terminal-text {
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: rgb(76, 76, 76);
	display: block;
	font-family: Cuprum;
	height: 270px;
	line-height: 22;
	margin: 15px 5px 5px 5px;
	width: 491px;
}

#message {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 500px;
	border: 1px solid #c9cfd5;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);	
	font-family: Cuprum;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #ffffff;
}

.btn {
	display: inline-block;
	padding: 7px 17px 7px 17px;
	margin: 0px 7px 4px 0;
	font-size: 15px;
	line-height: 21px;
	color: #585858;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -o-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: linear-gradient(top, #f8f8f8, #e7e7e7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e7e7e7', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid #c9ccd0;
	*margin-left: .3em;
}

.btn:hover {
	color: #585858;
	text-decoration: none;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
}

.btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active,
.btn:active {
	background-image: none;
	-webkit-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4), 0 1px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4), 0 1px 0px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.4), 0 1px 0px rgba(255, 255, 255, 0.5);
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	background-color: #e6e6e6;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn.pill-left {
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	margin-right: 0px;
	border-right: #fff;
}
.btn.pill-middle {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-left: #000;
	border-right: #fff;
	/*    margin-left: -1px;*/
}

.btn.pill-right {
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	-webkit-border-radius: 0 20px 20px 0;
	margin-left: 0px;
	border-left: #000;
}

div.state {
	display: inline-block;
	height: 15px;
	width: 15px;
	float: left;
	margin: 3px 3px 0 0px;
}

div.state-content {
	margin: -1px 0 0 17px;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 21px;
}

.running {
	background: url('../images/ui-sprite.png') 0px -279px;
}

.stopped {
	background: url('../images/ui-sprite.png') 0px -294px;
}

div.app {
	display: block;
    border-radius: 5px 5px 5px 5px;
    padding: 12px;
	width: 250px;
    z-index: 1000;
	float: left;
	margin: 10px 10px;
	border: 1px solid white;
	line-height: 1;
	background-color: #FCFCFC;
	box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.8);
	border: 1px solid #E0E0E0;
}

div.app:hover {
	background-color: #f1efef;
}

ul.leftmenu {
	margin: 0;
	padding: 0;
}

ul.leftmenu li {
	display: block;
	height: 30px;
	margin: 0;
	padding: 0;
}

ul.leftmenu li span {
	display: block;
	padding-top: 7px;
	font-size: 15px;
	font-family: Cuprum;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #000000;
}

ul.leftmenu li span:hover {
	color: #0079e1;
	text-decoration: none;
}

div.reference {
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 40px;
	margin-bottom: 20px;
	padding: 10px;
}

div.reference div.inref {
	width: 285px;
	height: 120px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

div.reference div.inref div {
	 display:inline-block;
}

.white {
	border: 2px solid #e5e5e5;
}

.white:hover {
	border: 2px solid #0079e1;
}

.black {
	border: 2px solid #1c1c1c;
}

.black:hover {
	border: 2px solid #0079e1;
}

.customers blockquote {
	width: 800px;
	margin: 0 auto;
	margin-top: 25px;
	padding-left: 0;
	border-left: none;
	font-weight: 200;
	line-height: 35px;
	text-align: center;
	font-size: 25px;
	border: 0;
	background: 0;
	display: block;
}

.customers blockquote p {
	font-size: 25px;
	font-weight: 200;
	line-height: 35px;
	margin-bottom: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}