html, body {
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: #4c4c4c;
}

a {
	color: #2e9fff;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	color: #0079e1;
	text-decoration: none;
}

#wrapper {
	background-color: #2475ae;
	background-repeat: repeat-x;
	background-position: top left;
}
