html, body {
	background-color: ;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
}

a {
	color: #2e9fff;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	color: #0079e1;
	text-decoration: none;
}

#wrapper {
	background-color: #58aad7;
	background-image: url('../images/bg-body-home.png');
	background-repeat: repeat-x;
	background-position: top left;
}