html, body {
}

body {
	margin: 0;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: #4c4c4c;
}

a {
	color: #2e9fff;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	color: #0079e1;
	text-decoration: none;
}

#wrapper {
	background-color: #2475ae;

}

@font-face {
	font-family: "Cuprum";
	src: url('/as/fonts/bentonsans-book.eot');
	src:
		url('/as/fonts/bentonsans-book.ttf') format('truetype'),
		url('/as/fonts/bentonsans-book.woff') format('woff'),
		url('/as/fonts/bentonsans-book.eot?#iefix') format('embedded-opentype'),
		url('/as/fonts/bentonsans-book.svg#BentonSans') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url('/as/fonts/bentonsans-regular.eot');
	src:
		url('/as/fonts/bentonsans-regular.ttf') format('truetype'),
		url('/as/fonts/bentonsans-regular.woff') format('woff'),
		url('/as/fonts/bentonsans-regular.eot?#iefix') format('embedded-opentype'),
		url('/as/fonts/bentonsans-regular.svg#BentonSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url('/as/fonts/bentonsans-medium.eot');
	src:
		url('/as/fonts/bentonsans-medium.ttf') format('truetype'),
		url('/as/fonts/bentonsans-medium.woff') format('woff'),
		url('/as/fonts/bentonsans-medium.eot?#iefix') format('embedded-opentype'),
		url('/as/fonts/bentonsans-medium.svg#BentonSans') format('svg');
	font-weight: bold;
	font-style: normal;
}