#footer {
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0 0 20px 0;
	background-color: #1c1c1c;
}

#footer p {
	color: #d4d4d4;
	font-size: 11px;
}

#footer .container {
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

#footer .container .column1 {
	width: 300px;
	float: left;
	margin-right: 50px;
}

#footer .container .column2 {
	width: 280px;
	float: left;
	margin-right: 10px;
}

#footer .container .column3 {
	width: 280px;
	float: left;
	margin-right: 30px;
}

#footer .container .column4 {
	width: 150px;
	float: left;
}

#footer #social {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#footer #social li {
	float: left;
	margin-right: 10px;
}

#footer #social li a {
	display: block;
	width: 24px;
	height: 0;
	padding-top: 24px;
	line-height: 1;
	overflow: hidden;
	background-image: url('../images/icon-social.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

#footer #social li#facebook a {
	background-position: 0 0;
}

#footer #social li#facebook a:hover {
	background-position: 0 -24px;
}

#footer #social li#twitter a {
	background-position: -25px 0;
}

#footer #social li#twitter a:hover {
	background-position: -25px -24px;
}

#footer #social li#linkedin a {
	background-position: -50px 0;
}

#footer #social li#linkedin a:hover {
	background-position: -50px -24px;
}

#footer #social li#skype a {
	background-position: -75px 0;
}

#footer #social li#skype a:hover {
	background-position: -75px -24px;
}

#footer #social li#rss a {
	background-position: -100px 0;
}

#footer #social li#rss a:hover {
	background-position: -100px -24px;
}

#copyright {
	width: 100%;
	height: 40px;
	background-color: #090909;
	border-top: 1px solid #303030;
}

#copyright .container {
	width: 1100px;
	padding: 15px 0 0 0;
	margin: 0 auto;
	color: #d4d4d4;
	font-size: 10px;
}