form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 10px 0px 10px 0px;
}

label {
	float: left;
	width: 160px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

label.mini {
	width: 110px;
	font-size: 12px;
}

input,
select,
textarea {
	display: inline-block;
	width: 210px;
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: #808080;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: normal;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input.mini,
select.mini,
textarea.mini {
	width: 180px;
}

input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

/* mini reset for non-html5 file types */
input[type=checkbox], input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	*margin-top: 0;
	/* IE6-7 */
	line-height: normal;
	border: none;
}

input[type=file] {
	padding: initial;
	border: initial;
	line-height: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type=button], input[type=reset], input[type=submit] {
	width: auto;
	height: auto;
}

input[type=submit], input[type=button] {
	display: inline-block;
	padding: 4px 17px 3px;
	margin: 0px 7px 4px 0;
	font-size: 14px;
	line-height: 21px;
	color: #585858;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	cursor: pointer;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -o-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: linear-gradient(top, #f8f8f8, #e7e7e7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e7e7e7', GradientType=0);
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -ms-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e7e7e7));
	background-image: -webkit-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: -o-linear-gradient(top, #f8f8f8, #e7e7e7);
	background-image: linear-gradient(top, #f8f8f8, #e7e7e7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e7e7e7', GradientType=0);
	/*  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0px rgba(255,255,255,0.5);*/

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	border: 1px solid #c9ccd0;
	*margin-left: .3em;
	*margin-left: .3em;
}

input[type=submit]:hover, input[type=button]:hover {
	color: #585858;
	text-decoration: none;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

select, input[type=file] {
	height: 27px;
	line-height: 27px;
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
}

select[multiple] {
	height: inherit;
}

textarea {
	height: auto;
}

input:focus, textarea:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 1px dotted #666;
}

form div.clearfix.error {
	background: #ffffff;
	padding: 10px 0;
	margin: -10px 0 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f5f5f5;
	border-color: #ddd;
//	cursor: not-allowed;
}

.help-block {
	font-size: 11px;
	line-height: 18px;
	color: #9c9c9c;
	display: block;
	max-width: 600px;
	padding: 5px 0px 0px 160px;
}

.help-block .success {
	color: #00c42a;
}

.success {
	width: 300px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	background-image: url('../images/icons/notifications/accept.png');
	background-repeat: no-repeat;
	background-position: center 8%;
	padding: 40px 30px 30px 30px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #ffffff;
	font-size: 15px;
}

.failure {
	width: 300px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	background-image: url('../images/icons/notifications/error.png');
	background-repeat: no-repeat;
	background-position: center 8%;
	padding: 40px 30px 30px 30px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #ffffff;
	font-size: 15px;
}