#header {
	margin: 0;
	height: 80px;
	padding: 20px 0 0 0;
	width: 100%;
	border-bottom: 1px solid #207fbc;
	background-color: #1c1c1c;
}

#header .container {
	width: 1100px;
	margin: 0 auto;
}

#header .container .logo {
	float: left;
}

#header .container .menu {
	padding-top: 16px;
	font-family: Cuprum;
	font-size: 17px;
	float: right;
}

#header .container .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#header .container .menu ul li {
	float: left;
}

#header .container .menu li.active a {
	color: #3fb3df;
}

#header .container .menu li a {
	display: block;
	margin-left: 15px;
	padding: 10px;
	color: #b2c0cA;
	-webkit-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
	transition: 0.2s all;
	font-size: 14px;
}

#header .container .menu li a:hover {
	color: #3fb3df;
}

#header .container .menu #nlogin a {
	height: 10px;
	margin: 0 0 0 20px;
	padding: 10px 12px 12px 12px;
	font-size: 14px;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #68ab17;
}

#header .container .menu #nlogin a:hover {
	background: #7bcb1b;
	color: #ffffff;
}

#header .container .menu #nregister a {
	height: 10px;
	margin: 0 0 0 20px;
	padding: 10px 12px 12px 12px;
	font-size: 14px;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #51626b;
}

#header .container .menu #nregister a:hover {
	background: #628598;
	color: #ffffff;
}

#submenu {
	margin: 0 auto;
	margin-top: 50px;
	width: 1100px;
	background-color: #eef6fb;
	height: 50px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#submenu .left {
	float: left;
	margin: 0;
	padding: 18px 0 0 15px;
	font-size: 18px;
	text-transform: uppercase;
	color: #2d97d0;
}

#submenu ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#submenu ul li {
	float: left;
	height: 50px;
	border-left: 1px solid #daeaf4;
}

#submenu ul li.active {
	background-color: #daeaf4;
}

#submenu ul li a {
	display: block;
	padding: 20px;
	color: #666666;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

#submenu ul li.active a {
	color: #3fb3df;
}

#submenu ul li a:hover {
	color: #3fbfe8;
}

#submenu ul li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}