.details {
	float: left;
	margin-left: 15px;
	font-size: 16px;
}

.usage {
	font-weight: bold;
	font-size: 19px;
}

.ui-meter-holder .ui-meter {
	height: 18px;
	width: 260px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-top: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	border: 1px solid #bdc1ca;
	border: none;
	background: #dce0e7;
	float: left;
}

.ui-meter-holder .fill {
	height: 16px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
}

.ui-meter-holder-large .ui-meter {
	margin: 5px 0;
	height: 35px;
	width: 520px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ui-meter-holder-large .fill {
	height: 32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.legend .fill {
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 2px;
	margin-right: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.legend .before-fill,
.ui-meter-holder .before-fill {
	background-color: #5994c3;
	background-image: -moz-linear-gradient(top, #6badd1, #3d6fae);
	background-image: -ms-linear-gradient(top, #6badd1, #3d6fae);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6badd1), to(#3d6fae));
	background-image: -webkit-linear-gradient(top, #6badd1, #3d6fae);
	background-image: -o-linear-gradient(top, #6badd1, #3d6fae);
	background-image: linear-gradient(top, #6badd1, #3d6fae);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6badd1', endColorstr='#3d6fae', GradientType=0);
	background-color: #5994c3;
	background-image: -moz-linear-gradient(top, #6badd1, #3d6fae);
	background-image: -ms-linear-gradient(top, #6badd1, #3d6fae);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6badd1), to(#3d6fae));
	background-image: -webkit-linear-gradient(top, #6badd1, #3d6fae);
	background-image: -o-linear-gradient(top, #6badd1, #3d6fae);
	background-image: linear-gradient(top, #6badd1, #3d6fae);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6badd1', endColorstr='#3d6fae', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	border: 1px solid #4f87bb;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
	min-width: 12px;
}

.legend .before-fill.over,
.ui-meter-holder .before-fill.over {
	background-color: #f88;
}

.legend .after-fill,
.ui-meter-holder .after-fill {
	background-color: #78b6e4;
	background-image: -moz-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: -ms-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9dd0ee), to(#418ed4));
	background-image: -webkit-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: -o-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: linear-gradient(top, #9dd0ee, #418ed4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd0ee', endColorstr='#418ed4', GradientType=0);
	background-color: #78b6e4;
	background-image: -moz-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: -ms-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9dd0ee), to(#418ed4));
	background-image: -webkit-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: -o-linear-gradient(top, #9dd0ee, #418ed4);
	background-image: linear-gradient(top, #9dd0ee, #418ed4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd0ee', endColorstr='#418ed4', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	border: 1px solid #4e97d8;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
}

.legend .base-fill,
.ui-meter-holder .base-fill {
	background-color: #566d92;
	background-image: -moz-linear-gradient(top, #708eba, #2f3b55);
	background-image: -ms-linear-gradient(top, #708eba, #2f3b55);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#708eba), to(#2f3b55));
	background-image: -webkit-linear-gradient(top, #708eba, #2f3b55);
	background-image: -o-linear-gradient(top, #708eba, #2f3b55);
	background-image: linear-gradient(top, #708eba, #2f3b55);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#708eba', endColorstr='#2f3b55', GradientType=0);
	background-color: #566d92;
	background-image: -moz-linear-gradient(top, #708eba, #2f3b55);
	background-image: -ms-linear-gradient(top, #708eba, #2f3b55);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#708eba), to(#2f3b55));
	background-image: -webkit-linear-gradient(top, #708eba, #2f3b55);
	background-image: -o-linear-gradient(top, #708eba, #2f3b55);
	background-image: linear-gradient(top, #708eba, #2f3b55);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#708eba', endColorstr='#2f3b55', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	border: 1px solid #425474;
}

.legend .empty-fill,
.ui-meter-holder .empty-fill {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.55);
	border: 1px solid #bdc1ca;
	border: none;
	background: #dce0e7;
}