/* CSS Style */

@import url('reset.css');
@import url('core.css');
@import url('typo.css');
@import url('header.css');
@import url('box.css');
@import url('content.css');
@import url('footer.css');
@import url('forms.css');
@import url('tables.css');
@import url('meter.css');

.clearfix {
	margin: 0;
	padding: 5px;
	clear: both;
}