table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: separate;
	*border-collapse: collapse;
	/* IE7, collapse table to remove spacing */
	font-size: 15px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

table th,
table td {
	padding: 10px;
	line-height: 18px;
	text-align: left;
}

table th {
	padding-top: 9px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-family: Cuprum;
}

table td {
	vertical-align: middle;
}

table th + th,
table td + td {
	border-left: 1px solid #ddd;
}

table tr + tr td {
	border-top: 1px solid #ddd;
}

table tbody tr:first-child td:first-child {
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}

table tbody tr:first-child td:last-child {
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

table tbody tr:last-child td:first-child {
	-webkit-border-radius: 0 0 0 4px;
	-moz-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}

table tbody tr:last-child td:last-child {
	-webkit-border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	border-radius: 0 0 4px 0;
}

table.noborder {
	border: 0;
}

table.noborder tr {
	border: 0;
}

table.noborder tr td {
	border: 0;
}

table.offer {
	
}

table.offer tr {

}

table.offer tr td {
	text-align: center;
	font-family: Cuprum;
	letter-spacing: 0.1em;
	font-size: 13px;
	color: #909090;
	vertical-align: middle;
}