p {
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	margin: 5px 0 5px 0;
}

h1 {
	font-family: Cuprum;
	margin: 0px 0px 10px 0px;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-weight: normal;
	color: #2e9fff;
}

h1.footer {
	font-family: Cuprum;
	margin: 0px 0px 10px 0px;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-weight: normal;
	color: #d4d4d4;
}

h2 {
	font-family: Cuprum;
	font-size: 26px;
	font-weight: 300;
	margin: 5px 0px 10px 0px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

h2.white {
	width: 100%;
	font-family: Cuprum;
	padding: 0;
	font-size: 28px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-weight: normal;
	color: #ffffff;
	line-height: 30px;
	letter-spacing: 1px;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
}

h3 {
	font-family: Cuprum;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

h4 {
	font-family: Cuprum;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-weight: bold;
}

h3.colored {
	color: #2e9fff;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	color: #9c9c9c;
}

h1 small {
	font-size: 18px;
}

h2 small {
	font-size: 16px;
}

ul, ol {
	margin: 0 0 18px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	line-height: 18px;
}

dl {
	margin-bottom: 18px;
}

dl dt, dl dd {
	line-height: 18px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 9px;
}

hr {
	border: none;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;
	border-top: 1px solid #e2eef6;
	width: 800px;
}

strong {
	font-style: inherit;
	font-weight: bold;
}

em {
	font-style: italic;
	font-weight: inherit;
	line-height: inherit;
}

.muted {
	color: #9c9c9c;
}

blockquote {
	margin-bottom: 18px;
	background-color: #d9d9d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 955px;
	padding: 10px;
}

blockquote p {
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 0;
}

blockquote small {
	display: block;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	color: #9c9c9c;
}

blockquote small:before {
	content: '\2014 \00A0';
}

address {
	display: block;
	line-height: 18px;
	margin-bottom: 18px;
}

code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	background-color: #faacd5;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}

pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

span.title {
	font-family: Cuprum;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #4e4e4e;
}

span.intro {
	font-size: 17px;
	line-height: 22px;
}

span.small {
	font-family: Cuprum;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

span.lightlarge {
	font-family: Cuprum;
	font-size: 17px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

span.wlarge {
	font-family: Cuprum;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-weight: normal;
	color: #ffffff;
	line-height: 30px;
	letter-spacing: 1px;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
}

span.large {
	font-family: Cuprum;
	font-size: 17px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

span.xlarge {
	font-family: Cuprum;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

span.xxlarge {
	font-family: Cuprum;
	font-size: 50px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

div.overline {
	display: block;
	float: left;
	padding: 5px;
	margin-right: 6px;
	background-color: #999999;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}

div.title {
	width: 100%;
	font-family: Cuprum;
	margin: 0 0 30px 0;
	padding: 0;
	text-align: center;
	font-size: 32px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #ffffff;
	font-weight: 200;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
}

div.subtitle {
	width: 100%;
	font-family: Cuprum;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-weight: 200;
	color: #ffffff;
	line-height: 30px;
	letter-spacing: 1px;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
}

ul.simple {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.simple li {
	font-family: Cuprum;
	margin: 5px 0 5px 0;
	padding: 0;
	font-size: 13px;
}

img.link {
	float: left; 
	margin-right: 5px;
}

a img.link {
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #E0E0E0;
}

a img.link:hover {
	background-color: #F0F0F0;
	box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.8);
}

span.colored {
	color: #2e9fff;
}

ul.rightmenu {
	list-style: none;
	margin: 0;
	padding: 0;	
}

ul.rightmenu li {
	margin: 0;
	padding: 0;
}

ul.rightmenu li p {
	font-size: 15px;
	margin: 10px 0px 10px 0px;
}

div.separator {
	clear: both;
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 221, 221) 35%, rgb(221, 221, 221) 65%, rgb(255, 255, 255));
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}

div.seperator-light {
	clear: both;
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 221, 221) 35%, rgb(221, 221, 221) 65%, rgb(255, 255, 255));
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

img.doc {
	display: block;
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
	padding: 10px;
}