/* Core CSS */

div.core div.head {
	width: 100%;
	margin: 0;
	padding: 25px 0 25px 0;
	background-color: #de5711;
	text-align: center;
	font-size: 16px;
}

div.core div.head-light {
	margin: 0;
	padding: 50px 0 0 0;
	border-bottom: 1px solid #e1e1e1;
}

div.core div.head-light div.container {
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0 15px 0;
}

div.core  div.lines {
	margin: 0 auto;
	padding: 0;
	width: 1100px;
	height: 300px;
	background-image: url('../images/lines.png');
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
}

div.core div.lines-content {
	margin: 0 auto;
}

div.core div.lines-content div {
	float: left;
	width: 304px;
	margin: 64px 0 0 0;
	padding: 0;
	font-size: 16px;
}

div.core div.lines-content img {
	margin-bottom: 20px;
}

div.core div.lines-content div.hfree{
}

div.core div.lines-content div.hinnovation {
	margin-left: 95px;
}

div.core div.lines-content div.hopen {
	margin-left: 90px;
}

div.core  div.content {
	width: 1100px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 0;
}

div.core  div.content div.left {
	float: left;
	margin: 0;
	padding: 0;
	width: 520px;
}

div.core  div.content div.left.big {
	width: 750px;
}

div.core  div.content div.left.small {
	width: 250px;
}

div.core  div.content div.right {
	float: right;
	margin: 0 0 0 60px;
	padding: 0;
	width: 480px;
}

div.core div.content div.right.small {
	width: 250px;

}

div.core div.content div.right.border {
	background-image: linear-gradient(to bottom, #ffffff,#dddddd 35%,#dddddd 65%,#ffffff);
	background-position: 0 center;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	padding: 0 0 0 40px;
}

div.core  div.content div.right.big {
	width: 780px;
}

div.core div.content div.form-small {
	margin: 0 auto;
	width: 400px;
	border: 1px solid #e1e1e1;
//	background-color: #f8f8f8;
	text-align: center;
}

div.core div.terminal {
	background-color: rgb(235, 234, 239);
	border-radius: 4px;
	color: rgb(76, 76, 76);
	display: block;
	font-family: BentonSans, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	height: 278px;
	line-height: 22px;
	padding-top: 20px;
	width: 500px;
}

div.core div.terminal div.indicators {
	color: rgb(76, 76, 76);
	display: block;
	font-family: BentonSans, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	height: 0px;
	line-height: 22.390625px;
	margin-bottom: 0px;
	margin-left: 9px;
	margin-right: 0px;
	margin-top: -11px;
	width: 490px;
}

div.core div.terminal div.indicators span.circle {
	background-color: rgb(216, 214, 223);
	border-radius: 50%;
	color: rgb(76, 76, 76);
	display: block;
	float: left;
	font-family: BentonSans, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	height: 9px;
	line-height: 22.390625px;
	margin-right: 5px;
	width: 9px;
}

div.core div.terminal div.terminal-text {
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: rgb(76, 76, 76);
	display: block;
	font-family: BentonSans, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	height: 270px;
	line-height: 22;
	margin: 15px 5px 5px 5px;
	width: 491px;
}

div.core div.content div.connectorlight {
	float: left;
	margin: 0 15px 20px 20px;
	padding: 0;
	width: 160px;
	height: 245px;
	background-color: #f4f4f4;
	border-radius: 3px;
	border: 1px solid #c9c9c9;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
	color: rgb(51, 51, 51);
	transition: all 0.2s;
}

div.core div.content div.connectorlight:hover {
	background-color: #ffffff;
	border: 1px solid #dadada;
}

div.core div.content div.connectorlight:first-child {
	margin-left: 0;
}

div.core div.content div.connectorlight div.image {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 140px;
}

div.core div.content div.connectorlight div.hover {
	position: relative;
	top: 0;
	z-index: 80;
	width: 100%;
	height: 140px;
	border-radius: 3px;
	padding: 0px;
	background-color: rgba(44, 44, 44, 0);
	transition: all 0.2s;
}

div.core div.content div.connectorlight div.image img {
	width: 100px;
	height: 100px;
}

div.core div.content div.connectorlight div.text {
	margin: 0;
	padding: 20px 10px 10px 10px;
}

div.sidemenu {
	width: 250px;
	margin: 0;
}

div.sidemenu ul {
	list-style-type: none;
}

div.sidemenu ul li {
	display: block;
	padding: 15px 15px 15px 20px;
	cursor: pointer;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-color: #ffffff;
	color: #2b6fab;
}

div.sidemenu ul li:first-child {
	border-top: 1px solid #dedede;
}
 
div.sidemenu ul li.active {
	background-color: #f8f8f8;
}

div.sidemenu ul li:hover {
	background-color: #f8f8f8;
	color: #3f9fe0;
}

div.sidemenu ul li.active:hover {
	color: #2b6fab;
}

div.multipoint {
	width: 450px;
	margin: 0 0 0 50px;
}

div.multipoint ul {
	list-style-type: none;
}

div.multipoint ul li {
	display: block;
	padding: 10px 7px 0 15px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-color: #f8f8f8;
	height: 90px;
}

div.multipoint ul li:first-child {
	border-top: 1px solid #dedede;
}

div.article {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

img.blogimage {
	display: block;
	margin: 0 auto;
	width: 800px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	line-height: 25px;
	padding: 10px;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.023);
}

ul.classic {
	list-style-type: disc;
	margin: 10px 0 10px 40px;
}

ul.classic li {
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
}

ul.classic ol {
	margin: 10px 0 10px 40px;
	list-style-type: lower-roman;
}

ul.classic ol li {
	padding: 5px;
	line-height: 18px;
	font-size: 12px;
}

div.faq {
	margin: 20px 0 0 0;
	padding: 0;
}

div.faq div.questions {

}

div.faq div.question {
	margin: 15px 0 15px 0;
	color: #6ba2df;
	text-decoration: none;	
	cursor: pointer;
	font-size: 18px;
}

div.faq div.question:hover {
	color: #397ac1;
}

div.faq div.answer {
	display: none;
}

div.faq div.answer span.legend {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 22px;
	text-align: center;
}

img.doc {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 12px;
	border: 1px solid #c7c7c7;
	background-color: #e5e5e5;
	padding: 8px;
	border-radius: 1px;
}


img.doc {
	display: block;
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
	padding: 10px;
}

span.author {
	font-size: 12px;
	color: #bb3838;
}

span.smalldate {
	display: block;
	float: left;
	text-align: center;
	border-radius: 50%;
	font-size: 10px;
	width: 40px;
	height: 40px;
	padding: 8px;
	line-height: 14px;
	background-color: #7bbb51;
	color: #fff;
}

img.newssmall {
	display: block;
	float: left;
	width: 200px;
	margin: 10px 20px 0 0;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	padding: 10px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

img.newssmall:hover {
	border: 1px solid #0079e1;
}


span.smalldate.yellow {
	background-color: #f1f075;
	color: #000000;
}

span.smalldate.blue {
	background-color: #448cdd;
}

span.bigdate {
	display: block;
	float: left;
	text-align: center;
	border-radius: 50%;
	font-size: 13px;
	width: 60px;
	height: 60px;
	padding: 10px;
	line-height: 19px;
	background-color: #448cdd;
	color: #fff;
}