/* Default CSS */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "BentonSans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #4c4c4c;
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
}

b {
	font-weight: bold;
}

a {
	color: #de5711;
	text-decoration: none;
}

a:hover {
	color: #eb782b;
}

a:hover h1 {
	color: #eb782b;
}

a:focus, li:focus, ul:focus {
	outline: 0;
	background: 0;
}

iframe { 
	overflow: hidden;
}

@font-face {
	font-family: "BentonSans";
	src: url('/on/fonts/bentonsans-book.eot');
	src:
		url('/on/fonts/bentonsans-book.ttf') format('truetype'),
		url('/on/fonts/bentonsans-book.woff') format('woff'),
		url('/on/fonts/bentonsans-book.eot?#iefix') format('embedded-opentype'),
		url('/on/fonts/bentonsans-book.svg#BentonSans') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "BentonSans";
	src: url('/on/fonts/bentonsans-regular.eot');
	src:
		url('/on/fonts/bentonsans-regular.ttf') format('truetype'),
		url('/on/fonts/bentonsans-regular.woff') format('woff'),
		url('/on/fonts/bentonsans-regular.eot?#iefix') format('embedded-opentype'),
		url('/on/fonts/bentonsans-regular.svg#BentonSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BentonSans";
	src: url('/on/fonts/bentonsans-medium.eot');
	src:
		url('/on/fonts/bentonsans-medium.ttf') format('truetype'),
		url('/on/fonts/bentonsans-medium.woff') format('woff'),
		url('/on/fonts/bentonsans-medium.eot?#iefix') format('embedded-opentype'),
		url('/on/fonts/bentonsans-medium.svg#BentonSans') format('svg');
	font-weight: bold;
	font-style: normal;
}

a img {
	border: 0;
}

a.button {
	margin: 0;
	padding: 10px 15px 10px 15px;
	display: block;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 900;
	text-align: center;
//	text-shadow: rgba(255, 255, 255, 0.901961) 0px 1px 0px;
	transition: all 0.2s;
	font-smoothing: antialiased;
	font-size: 15px;
}

a.button:hover {
	text-decoration: none;
}

a.button.classic {
	background-color: #de5711;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
}

a.button.classic:hover {
	background-color: #eb782b;
}

a.button.main {
	color: #de5711;
	background-color: #ffffff;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(231, 228, 238));
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 5px;
	width: 160px;
}

a.button.main:hover {
	background-image: none;
}

a.button.services {
	color: #ffffff;
	background-color: #86be5e;
	//background-image: linear-gradient(rgb(255, 255, 255), rgb(231, 228, 238));
	margin-top: 20px;
	width: 180px;
}

a.button.services:hover {
	background-color: #a1d17e;
	background-image: none;
}

a.button.orange {
	background-color: #ff8827;
}

a.button.orange:hover {
	background-color: #ff7200;
}

a.button.green {
	background-color: #b2cb39;
}

a.button.green:hover {
	background-color: #c1dc40;
}

a.button.grey {
	background-color: #bebebe;
}

a.button.grey:hover {
	background-color: #cbcbcb;
}

a.button.disabled {
	background-color: #bbbbbb;
}

a.button.disabled:hover {
	background-color: #bbbbbb;
}

p {
	margin: 10px 0 10px 0;
	padding: 0;
	line-height: 25px;
}

span.light {
	color: #ffceb5;
	font-size: 15px;
}

span.light a {
	color: #ffceb5;
}

span.light a:hover {
	color: #ffffff;
}

span.date {
	color: #a8a8a8;
	font-size: 15px;
}

h1 {
	font-smoothing: antialiased;
	color: #ffffff;
	display: block;
	font-size: 32px;
	font-weight: 200;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0;
	text-align: center;
}

h1.dark {
	color: #de5711;
	text-align: left;
	font-size: 35px;
}

h1.blue {
	color: #de5711;
}

h1.thin {
	font-size: 25px;
}

h1.title {
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 30px;
	margin-bottom: 5px;
}

h2 {
	font-smoothing: antialiased;
	color: #ffceb5;
	display: block;
	font-size: 18px;
	font-weight: normal;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 0;
	text-align: center;
	line-height: 20px;
}

h2.dark {
	color: #999999;
	text-align: left;
}

h2.grey {
	color: #999999;
}

h2.thin {
	font-size: 25px;
}

h2.title {
	font-weight: 200;
	font-size: 18px;
}

h3 {
	font-smoothing: antialiased;
	color: #de5711;
	display: block;
	font-size: 26px;
	font-weight: 200;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
}

h3.bordered {
	padding-bottom: 5px;
	border-bottom: 1px solid #c5c5c5;
}

h3.center {
	text-align: center;
}

h3.red {
	color: #5f0086;
}

h3.green {
	color: #007f00;
}

h3.blue {
	color: #00429c;
}

h3.grey {
	color: #4c4c4c;
}

h3.thin {
	font-size: 20px;
}

h4 {
	font-smoothing: antialiased;
	color: #4c4c4c;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
}

h4.colored {
	font-size: 18px;
	color: #de5711;
}

a h4.colored:hover {
	color: #eb782b;
}

span.title {
	display: block;
	color: #999999;
	font-size: 20px;
	margin: 0 0 5px 0;
}

div.separator {
	clear: both;
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 221, 221) 35%, rgb(221, 221, 221) 65%, rgb(255, 255, 255));
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}

div.seperator-light {
	clear: both;
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 221, 221) 35%, rgb(221, 221, 221) 65%, rgb(255, 255, 255));
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	width: 1100px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

div.seperator-mini {
	width: 400px;
	height: 1px;
	margin: 0px 0px 10px 0;
	border-bottom: solid 1px #bfbfbf;
	padding: 0;	
}

div.clear {
	clear: both;
}

a.hfree {
	background: url('../images/free.png') no-repeat top center;
	display: block;
	width: 240px;
	height: 140px;
	margin: 0 auto;
	padding: 0;
	transition: all 0.2s;
	opacity: 0.4;
}

a.hfree:hover {
	text-decoration: none;
	opacity: 1;
}

a.hinnovation {
	background: url('../images/innovation.png') no-repeat top center;
	display: block;
	width: 240px;
	height: 140px;
	margin: 0 auto;
	padding: 0;
	transition: all 0.2s;
	opacity: 0.4;
}

a.hinnovation:hover {
	text-decoration: none;
	opacity: 1;
}

a.hopen {
	background: url('../images/open.png') no-repeat top center;
	display: block;
	width: 240px;
	height: 140px;
	margin: 0 auto;
	padding: 0;
	transition: all 0.2s;
	opacity: 0.4;
}

a.hopen:hover {
	text-decoration: none;
	opacity: 1;
}

img.icon {
	display: block;
	float: left;
	padding: 4px 10px 0 0;
}

img.illustration {
	border-radius: 3px;
	border: 1px solid #e3e3e3;
}

img.link {
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}

a img.link {
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #e0e0e0;
}

a img.link:hover {
	background-color: #f0f0f0;
	box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.8);
}

a.roundbutton {
	display: block;
	color: #4c4c4c;
	background-position: 10% center;
	background-repeat: no-repeat;
	width: 50px;
	padding: 15px 10px 5px 35px;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #E0E0E0;
	cursor: pointer;
}

a.roundbutton:hover {
	text-decoration: none;
	background-color: #F0F0F0;
	box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.8);	
}

a.callout {
	display: block;
	float: left;
	width: 120px;
	margin: 0;
	padding: 8px 4px 8px 4px;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	background-color: #ff6c14;
	border-color: #ff6231 #ff6231 #e33600;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #d03500;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
	border-radius: 3px;
}

a.callout:hover {
	background: #ff8f00;
	color: #ffffff;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

a.callout-light {
	display: block;
	float: left;
	width: 80px;
	margin: 0;
	padding: 8px 4px 8px 4px;
	text-align: center;
	color: #9b9b9b;
	font-size: 15px;
	background-color: #f9f9f9;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #d4d4d4;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
	border-radius: 3px;
	margin-left: 20px;
}

a.callout-light:hover {
	color: #4c4c4c;
	border-color: #aaaaaa;
	background-color: #ffffff;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

code {
	display: block;
	width: 100%;
	background: #f9f9f9;
	border-left: 4px solid #ccc;
	margin: 5px 0 0 0;
	padding: 10px 0px 10px 20px;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
}

code span {
	color: #81007f;
}

blockquote {
	background: #f9f9f9;
	border-left: 4px solid #ccc;
	margin: 0;
	padding: 10px;
	font-size: 12px;
	letter-spacing: 1px;
}

blockquote p {
	display: inline;
	line-height: 20px;
}

.customers blockquote {
	width: 1100px;
	margin: 0 auto;
	margin-top: 10px;
	padding-left: 0;
	border-left: none;
	font-weight: 200;
	line-height: 35px;
	text-align: center;
	font-size: 25px;
	border: 0;
	background: 0;
	display: block;
}

.ui-tooltip {
	display: none;
	padding: 10px;
	margin: 0;
	text-align: center;
	background-color: #fffdc8;
	color: #5c5c5c;
	z-index: 100;
	border: 1px solid #aaaaaa;
	width: 150px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#success {
	display: none;
    position: fixed;
	width: 80px;
	height: 80px;
    top: 50%;
    left: 50%;
	z-index: 500;
	background-image: url('../images/icons/valid.png');
	background-repeat: no-repeat;
	opacity: 0.5;
    overflow: auto;
}

.floatingdialog {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#loading {
    display: none;
    width: 75px;
    height: 75px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 500;
    overflow: auto;
	background-image: url('../images/anim_loading_75x75.gif');
	background-repeat: no-repeat;
}

div.filluptimeout {
	background-color: #3c4e5a;
	height: 4px;
	margin: 3px auto;
	width: 400px;
}

div.filluptime {
	background-color: #ffffff;
	height: 100%;
}

img.photo {
	display: block;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	width: 100px;
}

img.photo:hover {
	border: 1px solid #de5711;
}

img.author {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 4px; solid #e9e9e9;
}

div.fillgraph {
	display: block;
	background: #e5e5e5;
	margin: 2px 0px 8px 0px;
	width: 300px;
	height: 15px;
	overflow: hidden;
	box-shadow: inset rgba(0,0,0,0.2) 0px 1px 3px;
}

div.fillgraph small {
	text-align: center;
	display: block;
	float: left;
	height: 15px;
	line-height: 15px;
	font-size: 10px;
	color: #ffffff;
	background: #de5711;
	overflow: hidden;
	box-shadow: inset rgba(0,0,0,0.2) 0px 1px 3px, inset rgba(0,0,0,0.1) 0px -20px 20px -10px;
}

span.quota {
	color: #969696;
	font-size: 15px;
}

ul.styled {
	list-style-type: square;
	margin-left: 20px;
	font-size: 14px;
}

ul.styled li {
	margin: 5px 0 5px 0;
	padding: 0 0 0 5px;
	line-height: 20px;
}

ol {
	list-style: decimal;
	padding: 0;
	margin: 0 0 0 15px;
}

ol li {
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
}

div.cookie {
}