form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0px 0px 20px 0px;
	border: 0;
}

form.center fieldset {
	text-align: center;
}

label {
	display: block;
	float: left;
	width: 200px;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 14px;
}

form.center label {
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
}

input, select, textarea {
	margin: 0 0 5px 0;
	display: block;
	width: 210px;
	padding: 5px 5px 5px 10px;
	border-radius: 3px;
	border: solid 1px #ffffff;
	background-color: rgb(240, 240, 240);
	font-size: 16px;
	transition: all 0.2s;
}

input:focus, select:focus, textarea:focus {
	outline: 0;
}

input:focus,textarea:focus {
	border-bottom: 1px solid #ee974a;
}

input[type=button]:focus, input[type=image]:focus, input[type=submit]:focus {
	outline: 0;
}

input.auto {
	color: #cccccc;
}

textarea.auto {
	color: #cccccc;
}

form.center  input, form.center  select, form.center  textarea  {
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
}

input[type=text], input[type=password] {
	height: 30px;
}

select {
	width: 227px;
	height: 40px;
}

input[type=file], input[type=checkbox] {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	margin-top: 0;
	/* IE6-7 */
	line-height: normal;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: solid 1px #d3d3d3;
}

form.center input[type=file], form.center  input[type=checkbox] {

}

input[type=submit], input[type=button] {
	display: block;
	margin: 0;
	padding: 10px;
	background-color: #de5711;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: #eb782b;
}

input[type=file] {
	font-size: 12px;
	padding: 10px;
}

.help-block {
	font-size: 11px;
	line-height: 15px;
	color: #9c9c9c;
	display: block;
}

form.center .help-block {
	text-align: center;
}

#login {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#signup {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#register {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#message {
	text-align: center;
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding: 10px 10px 10px 10px;
	padding-top: 20px;
}

#first {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#new {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#try {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#new-translation {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#new-file {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#delete {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#delete-link {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#config {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 30px;
}

#parameters {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#interfaces {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#edit {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#rename {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#buy {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#external {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#cron {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
	text-align: center;
}

#pay {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
}

#usage {
	background-color: #ffffff;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px;
	padding-top: 20px;
	padding-bottom: 30px;
}